html {
  background-color: #000;
}

body {
  color: #fff;
  display: flex;
  font-family: verdana, sans-serif;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.6;
  margin: 0 1rem;
}

.content {
  text-align: center;
}

h1 {
  font-weight: normal;
  padding-bottom: 0.5em;
}

h2,
h3 {
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 2em;
}

ul {
  display: contents;
  font-size: 1.25rem;
  list-style-type: none;
}

ol {
  display: contents;
  text-align: left;
}

li {
  margin: 0.5em;
}

p a {
  font-size: 1.25rem;
}

a:link {
  color: #66d9ff;
  text-decoration: none;
}

a:visited {
  color: #8c66ff;
  text-decoration: none;
}

a:hover {
  color: #fabc2a;
  text-decoration: none;
}

#books td:first-child {
  max-width: 250px;
}

nav {
  margin-bottom: 2em;
}

nav a {
  display: block;
  margin: 0.3em 0;
}

blockquote {
  color: #aaa;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0.6em;
  max-width: 600px;
}

blockquote + p {
  margin-top: 0.1em;
}

table {
  border-collapse: collapse;
  display: inline;
}

thead {
  background-color: #fff;
  color: #000;
}

th,
td {
  padding: 0.3em;
}

td {
  text-align: left;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
}

.map-container {
  border: 1px solid #444;
  cursor: grab;
  margin-bottom: 1em;
  margin-left: calc(50% - 45vw);
  overflow: hidden;
  width: 90vw;
}

.map-container.dragging {
  cursor: grabbing;
}

.map-container svg {
  user-select: none;
}
